appdirs==1.4.4
attrs==25.4.0
babel==2.18.0
bibtexparser==2.0.0b9
bs4==0.0.2
certifi==2026.1.4
cldfbench==1.14.2
cldfcatalog==1.6.0
cldfzenodo==2.2.1
clldutils==3.24.2
colorlog==6.10.1
csvw==3.7.0
gitdb==4.0.12
idna==3.11
iniconfig==2.3.0
isodate==0.7.2
jsonschema==4.26.0
lingpy==2.6.13
lxml==6.0.2
Markdown==3.10.1
nameparser==1.1.3
networkx==3.6.1
newick==1.11.0
numpy==2.4.2
openpyxl==3.1.5
packaging==26.0
platformdirs==4.5.1
pluggy==1.6.0
pybtex==0.25.1
pycldf==1.43.0
pyclts==3.2.0
pyconcepticon==3.1.0
pycountry==24.6.1
pyglottolog==3.16.0
Pygments==2.19.2
pylatexenc==2.10
pylexibank==3.5.0
pytest==9.0.2
python-dateutil==2.9.0.post0
rdflib==7.5.0
referencing==0.37.0
regex==2026.1.15
requests==2.32.5
rfc3986==1.5.0
segments==2.3.0
simplepybtex==0.1.0
six==1.17.0
smmap==5.0.2
soupsieve==2.8.3
SQLAlchemy==1.4.54
tabulate==0.9.0
termcolor==3.3.0
tqdm==4.67.3
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.6.3
xlrd==2.0.2
zenodoclient==0.5.1