anybadge==1.16.0
appdirs==1.4.4
attrs==26.1.0
babel==2.18.0
bibtexparser==2.0.0b9
cldfbench==2.0.1
cldfcatalog==1.7.0
cldfzenodo==3.0.0
clldutils==4.0.0
colorlog==6.12.0
csvw==4.1.0
gitdb==4.0.12
idna==3.18
iniconfig==2.3.0
isodate==0.7.2
jsonschema==4.26.0
lingpy==2.6.14
lxml==6.1.1
Markdown==3.10.3
nameparser==2.0.0
networkx==3.6.1
newick==1.11.0
numpy==2.5.1
openpyxl==3.1.5
packaging==26.2
platformdirs==4.11.0
pluggy==1.6.0
prettytable==3.18.0
pycdstar==1.2.2
pycldf==2.1.1
pyclts==4.0.2
pyconcepticon==4.0.0
pycountry==26.2.16
pyglottolog==4.0.1
Pygments==2.20.0
pylatexenc==2.11
pylexibank==4.1.0
pytest==9.1.1
python-dateutil==2.9.0.post0
rdflib==7.6.0
referencing==0.37.0
regex==2026.7.19
rfc3986==1.5.0
segments==2.4.0
simplepybtex==0.1.0
six==1.17.0
smmap==5.0.3
SQLAlchemy==1.4.54
termcolor==3.3.0
tqdm==4.70.0
typing_extensions==4.16.0
uritemplate==4.2.0
xlrd==2.0.2